/* main style sheet for wide-fighter */

$bg_clr: blanchedalmond;
$table_bg_clr: #e5e4e4;
$table_line_clr: #a1a1a1;

body {
    display: flex;
    flex-flow: row wrap;
}

header, article {
  flex: 1 100%;
}

header {
    background-color: $bg_clr;
    padding: 1em;
}

article {
    margin-bottom: 1em;
    padding: 1em;
}

.results{
    background-color: $bg_clr;
}

section {
    display: flex;
    flex-flow: row wrap;
    gap: 1em 1em;
}

.results-table, .fight-club {
    box-shadow: 5px 5px 5px grey;
    background-color: $table_bg_clr;
    border-radius: 8px;
}

.fight-club.new-tribe td {
    text-align: center;
    border: none;
}

.fight-club.new-tribe button {
    width: 8em;
}

table, td, th {
    border-collapse: collapse;
    padding: 0.3em 0.5em;
}

caption {
    font-weight: bold;
    padding: 1em 0;
}

th {
    font-weight: normal;
}

td {
    text-align: right;
    width: 5em;
    border-top: 1px solid $table_line_clr;
}

th:first-child {
    text-align: left;
    border-right: 1px solid $table_line_clr;
}

/* Keep this below th:first-child */
th:empty {
    border: none;
}

.small {
    font-weight: normal;
    font-size: smaller;
}

button {
    margin: 0 4px;
    font-weight: bold;
}

.but_td {
    width: 7em;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.values {
    //background-color: white;
}

.rem_but {
    text-align: center;
}
