/* main style sheet for wide-fighter */

$bg_clr: blanchedalmond;
$table_bg_clr: #e5e4e4;
$table_line_clr: #a1a1a1;

body {
    display: flex;
    flex-flow: row wrap;
}

header, article {
  flex: 1 100%;
}

header {
    background-color: $bg_clr;
    padding: 1em;
}

article {
    margin-bottom: 1em;
    padding: 1em;
}

.results{
    background-color: $bg_clr;
}

section {
    display: flex;
    flex-flow: row wrap;
    gap: 1em 1em;
}

.results-table {
    box-shadow: 5px 5px 5px grey;
    background-color: $table_bg_clr;
    border-radius: 8px;
}

table, td, th {
    border-collapse: collapse;
    padding: 0.3em 0.5em;
}

caption {
    font-weight: bold;
    padding: 1em 0;
}

th {
    font-weight: normal;
}

.results td {
    text-align: right;
    width: 5em;
    border-top: 1px solid $table_line_clr;
}

.results th:first-child {
    text-align: left;
    border-right: 1px solid $table_line_clr;
}

/* Keep this below th:first-child */
.results th:empty {
    border: none;
}

.small {
    font-weight: normal;
}

button {
    margin: 0 5px;
}
