/* main style sheet for wide-fighter */

body {
    //background-color: blanchedalmond;
    display: flex;
    flex-flow: row wrap;
}

header, article {
  flex: 1 100%;
}

header {
    background-color: blanchedalmond;
    padding: 1em;
}

article {
    margin-bottom: 1em;
}
article.result-equal{
    background-color: LightYellow;
}

article.result-asym {
    background-color: LemonChiffon;
}

section {
    //border: 1px solid blue;
    display: flex;
    flex-flow: row wrap;
}

section table {
    table-layout: fixed;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 1px solid;
}

table, td, th {
    border-collapse: collapse;
    padding: 0.3em 0.5em;
}

th {
    font-weight: normal;
}

tr td {
    text-align: right;
}
td {
    text-align: left;
}

caption {
    font-weight: bold;
    border: 1px solid;
    border-bottom: None;
    padding: 1em 0;
}

.small {
    font-weight: normal;
}

button {
    margin: 0 5px;
}
